@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  display: flex;
  align-items: center;
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

.coffeeconcept {
  display: flex;
}

.concept {
  width: 60%;
  
}

.conceptimage {
  width: 35%;
  margin-left: 20px;
}

.menu_backgroundimage {
  background-image: url("../images/sample_menu_bg.jpg");
  background-attachment: fixed;
}

.recommend_menu_cake {
  display: flex;
  justify-content: space-between;
}

.cake {
  display: flex;
  flex-direction: row-reverse;
  width: 49%;
  background-color: white;
}

.cake_image {

  width: 55%;
 
}

.coffee_menu {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.coffee_name {
  display: flex;
  flex-direction: row-reverse;
  width: 49%;
}

.coffee {
  width: 80%;
}

.access {
  display: flex;
}

dt {
  width: 80px;
}

iframe {
  width: 100%;
}

footer {
  background-color: #251e19;
  height: 75px;
}

.footer_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: disc;
}


.copyright {
 text-align: center;
 color: #fff;
}

.footer_nav_item {
  color: #fff;
  padding-left: 10px;
  text-decoration: none;
}

.footer_logo img {
  width: 100%;
}

.footer_logo {
  display: flex;
  width: 120px;
  align-items: stretch;
  padding-left: 10px;
}